:root{
    --orange:#f48037;
}

*{
    margin: 0;
    padding: 0;
}

body,html{
    overflow-x: hidden;
}

body {
    background-image: url("/images/mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
    text-align: center;
    font-family: Verdana;
    color: white;
    margin-bottom: 0;
}

h1 {
    font-size: 6em;
    margin-top: 1em;
}

h2 {
    margin-top: 1em;
}

p {
    font-weight: 100;
    font-size: 0.99em;
    margin: .5em 15vw 2em;
}

.home-page-text{
    font-size: x-large;
}

.navigation{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;  
    height: 4.7em;
    background-color: black;
}

.navigation__links:hover{
    color: var(--orange);
}

figure{
    border-bottom: 75px solid white;
    display: inline-block;
    width: 185px;
    padding: 7px 3px;
    margin: 2px 0 6px 10px;
    border: 3px solid white;
    background: var(--orange);
    box-shadow: 3px 3px 8px rgb(0 0 0 / 50%);
    vertical-align: top;
}

.image{
    border-radius: 1.25em;
}

figcaption{
    margin-bottom: 0;
    color: black;
    font-size: small;
    font-weight: 100;
}

.home-page-caption{
    margin-bottom: 1em;
}

.home-page-caption__link{
    color: white;
    font-weight: bold;
    font-style: italic;    
    font-size: medium;
    margin-bottom: 1em;
}

.hamburger-menu-button{
    position: absolute;
    top: 0.5em;
    right: 1.5em;
    width: 2.5em;
    height: 2em;
    z-index: 1;
    width: auto;
}

.hamburger-menu-label{
    position: absolute;
    top: 1.2em;
    right: 1.2em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3.125em;
    height: 2em;
    z-index: 1;   
}
.hamburger-menu-label__span{
    height: 0.3125em;
    width: 100%;
    background-color: white;
    border-radius: 0.625em;
}


.navigation--mobile{
    position: absolute;
    top: 4.5em;
    background-color: black;
    height: auto;
    z-index: 1;
    text-align: center;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 350ms ease-in-out;
}
.navigation__list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation__list-item{
    text-align: center;
    margin: 1em;
    padding: 0;
    list-style: none;
}
.navigation--mobile .navigation__links{
    text-decoration: none;
    border-radius: 0px;
    padding: 0;
    text-decoration: none;
    margin-left: 0;
    opacity: 0;
    transition: opacity 125ms ease-in-out ;
}



.hamburger-menu-button:checked ~ nav{
    transform: scale(1,1);
}
.hamburger-menu-button:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.hamburger-menu-button{
    display: none;
}

.navigation--desktop{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0;
    height: 4.5em;
    border-bottom: 1.5px solid white;
}

.navigation--desktop .navigation__list{
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation__links{
    color: white;
    text-decoration: none;
    padding: 1em;
}

.navigation__logo{
    width: 10em;
    margin: 1em;
    top: 1.5em;
    left: 0.75em;
}

main{
    margin-top: 4em;
}

.footer{
    overflow: hidden;
    position: sticky;
    bottom: 0;
    width: 100%;  
    height: 18em;
    background-color: black;
    border-top: 1.5px solid white;
    justify-content: space-between;
    margin-top: 2em;
}
 
.footer__links{
    text-decoration: none;
    color: white;
    margin-bottom:5em;
}

.footer__links:hover{
    color: var(--orange);
}

.footer__header{
    margin-top: 2em;
    margin-bottom: .5em;
}

.table{
    border-collapse: collapse;
    align-items: center;
    border: 1px solid white;
    background-color: rgba(244,128,55, 0.75);
    margin-left: auto;
    margin-right: auto;
}

.tablerow__first-row{
    font-size: large;
    font-style:italic;
}

th{
    border: 1.5px solid white;
    font-weight: 100;
}


.navigation__current-page{
    color: white;
    text-decoration: none;
    padding: 1em;
    font-family: Verdana;
    background-color: gray;
    display: none;
}

.page-link:link{
    color: lightslategray;
}

.page-link:visited{
    color: gray;
}

.page-link:hover{
    color: white;
}

@media(max-width: 979px){
    .hamburger-menu-label{
        display: flex;
    }
    .navigation--desktop .navigation__links{
        display: none;
    }
    .navigation--desktop{
        position: absolute;
    }
    h1{
        font-size: 3.5em;
        margin-top: 1.5em;
    }
    p{
        font-size: 0.75em;
    }  
    .home-page-text{
        font-size: 0.75em;
    }
    .image--resize{
        width: 360px;
    }
    .table{
        width: 3.125em;
        text-align: left;
    }
}

@media(min-width: 980px){
    .navigation--mobile{
        display: none;
    }
    th{
        padding: .5em;
    }
    .table{
        margin-right: 15em;
        margin-left: 15em;
    }
    .navigation__current-page{
        display: inline;
    }
}